{% extends 'site_academia/base.html' %}

{% block title %}Cadastro de Cliente - Minha Academia{% endblock %}

{% block content %}
  <h2>Cadastro de Cliente</h2>
  <p>Preencha o formulário abaixo para se cadastrar na nossa academia:</p>

  {% if form.errors %}
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    
    <label for="id_nome_completo">Nome completo:</label>
    {{ form.nome_completo }}

    <label for="id_email">Email:</label>
    {{ form.email }}

    <label for="id_telefone">Telefone:</label>
    {{ form.telefone }}

    <label for="id_plano">Plano:</label>
    {{ form.plano }}

    <label for="id_password1">Senha:</label>
    {{ form.password1 }}

    <label for="id_password2">Confirme a Senha:</label>
    {{ form.password2 }}

    <button type="submit">Cadastrar</button>
  </form>

  <p><a href="{% url 'alterar-senha' %}">Alterar Senha</a> | <a href="{% url 'esqueceu-senha' %}">Esqueci minha senha</a></p>
{% endblock %}
