{% extends 'site_academia/base.html' %}

{% block title %}Sobre - Minha Academia{% endblock %}

{% block content %}
<h1>Sobre Nós</h1>
<p>Somos uma academia comprometida com a saúde e o bem-estar dos nossos clientes. Nossa missão é proporcionar um ambiente acolhedor e motivador, onde todos podem alcançar seus objetivos de forma saudável e eficiente.

    Acreditamos que cada pessoa tem seu próprio ritmo e, por isso, oferecemos planos personalizados que atendem a diferentes necessidades e níveis de condicionamento físico. Nossos treinadores são altamente capacitados e estão sempre prontos para oferecer o suporte necessário, ajudando você a superar seus limites e conquistar os resultados desejados.
    
    Na nossa academia, você encontrará mais do que apenas equipamentos de última geração e planos de treinamento inovadores. Aqui, estamos focados no seu progresso, na sua saúde e na sua satisfação. Junte-se a nós e faça parte de uma jornada de transformação física e mental!
    
    </p>
{% endblock %}
